@media screen and (max-width: 576px) {
  * {
    font-size: 12px;
  }
  header {
    padding: 20px;
  }
  
  ul {
    padding-top: 5px;
    gap: 20px;
  }
  nav {
    flex-direction: column;
  }
  ul li a {
    margin-left: 0px;
  }
  .banner-content h1 {
    font-size: 2rem;
  }
  .banner-content p {
    margin: 10px 0;
  }
  .btn-primary {
    font-size: 0.8rem;
    padding: 10px 14px;
    letter-spacing: 1px;
  }
  .banner-row img {
    margin-top: 10px;
  }
}

/* ---------------------Tablet ------------------------*/

@media screen and (min-width: 576px) and (max-width: 960px) {
  * {
    font-size: 16px;
  }

  header {
    padding: 50px;
  }

  ul {
    padding-top: 5px;
    gap: 50px;
  }
  nav {
    flex-direction: column;
  }
  ul li a {
    margin-left: 0px;
  }
  .banner-content h1 {
    font-size: 2rem;
    margin-top: 10px;
  }
  .banner-content p {
    margin: 20px 0;
  }
  .btn-primary {
    font-size: 0.8rem;
    padding: 10px 14px;
    letter-spacing: 1px;
  }
  .banner-row img {
    margin-top: 50px;
  }
}
