@media screen and (max-width: 576px) {
  * {
    font-size: 12px;
  }
  header {
    padding: 20px;
  }

  ul {
    padding-top: 5px;
    gap: 20px;
  }
  nav ,.team-container {
    flex-direction: column;
  }
  ul li a {
    margin-left: 0px;
  }
  .banner-content h1 {
    font-size: 2rem;
  }
  .banner-content p {
    margin: 10px 0;
  }
  .btn-primary {
    font-size: 0.8rem;
    padding: 10px 14px;
    letter-spacing: 1px;
  }
  .banner-row img {
    margin-top: 10px;
  }


  /* teams section */

  main{
    margin: 20px 20px;
  }
  .team-img-container img{
    width: 100%;

  }
  .team-img-container {
    grid-template-columns:  1fr;
    margin: 0 20px;

  }
  .team-description {
    width: auto;
   
}
.team-content h3 {
    width: auto;
}
/* facts  */
.facts-card-container{
  flex-direction: column;
  gap: 1rem;
}
.facts-p{
  width: auto;
}
.sponsors-img-container{
  flex-direction: column;
  gap: 10px;
}

.sponsors-img-container img{
  width: 110px;
}
}

/* ---------------------Tablet ------------------------*/

@media screen and (min-width: 576px) and (max-width: 960px) {
  * {
    font-size: 16px;
  }

  header {
    padding: 50px;
  }

  ul {
    padding-top: 5px;
    gap: 50px;
  }
  nav {
    flex-direction: column;
  }
  ul li a {
    margin-left: 0px;
  }
  .banner-content h1 {
    font-size: 2rem;
    margin-top: 10px;
  }
  .banner-content p {
    margin: 20px 0;
  }
  .btn-primary {
    font-size: 0.8rem;
    padding: 10px 14px;
    letter-spacing: 1px;
  }
  .banner-row img {
    margin-top: 50px;
  }
   /* teams section */

   main{
    margin: 20px 20px;
  }
  .team-img-container img{
    width: 200px;

  }
  .team-img-container {
    grid-template-columns:  repeat(2,1fr);
  }
  .team-description {
    width: auto;
   
}
.team-content h3 {
    width: auto;
}
/* Facts */
.facts-card-container{
  flex-direction: column;
  gap: 1rem;
}
.sponsors-img-container{
  flex-direction: column;
  gap: 40px;

}
.sponsors-img-container img{
  width: 135px;

}

}

