@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
  display: flex;
}
a {
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px 24px;
  border: none;
  cursor: pointer;
}
.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
/* Header Styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
ul li a {
  color: #424242;
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.625rem;
  margin-left: 60px;
}
/* Banner styles */
.banner-row {
  text-align: center;
}
.banner-content {
  max-width: 868px;
  margin: 0 auto;
}
.banner-content h1 {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-content p {
  color: #727272;
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 32px 0;
}
.banner-row img {
  width: 100%;
  border-radius: 8px;
  margin-top: 50px;
}

/* Main Styles */

main {
  max-width: 1440px;
  margin: 85px auto;
}

/* teams section */

.team-container {
  display: flex;
  align-items: center;
  gap: 4.5rem;
}
.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-content h3 {
  width: 468px;
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
.team-description {
  width: 537px;
  color: #727272;
  font-size: 16px;
  line-height: 1.625rem;
  margin: 2rem 0;
}
.span1 {
  color: #131313;
  font-family: Work Sans;
  font-size: 2.8rem;
  font-weight: 700;
}
.span2 {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}

/* facts section */
.facts {
  margin: 8.125rem 0 11.25rem 0;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card {
  border-radius: 8px;
  text-align: center;
  border: 1px solid #ff900e;
  padding: 2.5rem 1.87rem;
}
.card-stats {
  font-size: 2.8rem;
  color: #424242;
  font-weight: 600;
  margin: 0.62rem 0 0 0;
}

.card-title {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}
.facts-p {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  width: 542px;
  margin: 1.5rem 0 6.25rem;
}

/* sponsors styles */
.sponsors {
  text-align: center;
}
.sponsors-p {
  width: auto;
  color: #727272;
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 1.5rem 0 3.126rem 0;
}
.sponsors-img-container{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  align-items: center;
}
.sponsors-img-container img {
  width: 164px;
}